<table class="table is-bordered is-hoverable is-fullwidth">
    <tbody>
        <tr>
            <td><strong>Spesifikasi</strong></td>
            <td><strong>Satuan</strong></td>
            <td><strong>Harga</strong></td>
        </tr>
        <tr>
            <td>M 4</td>
            <td>lembar</td>
            <td>Rp 150.000,-</td>
        </tr>
        <tr>
            <td>M 5</td>
            <td>lembar</td>
            <td>Rp 225.000,-</td>
        </tr>
        <tr>
            <td>M 6</td>
            <td>lembar</td>
            <td>Rp 310.000,-</td>
        </tr>
        <tr>
            <td>M 7</td>
            <td>lembar</td>
            <td>Rp 450.000,-</td>
        </tr>
        <tr>
            <td>M 8</td>
            <td>lembar</td>
            <td>Rp 565.000,-</td>
        </tr>
        <tr>
            <td>M 9</td>
            <td>lembar</td>
            <td>Rp 725.000,-</td>
        </tr>
        <tr>
            <td>M 10</td>
            <td>lembar</td>
            <td>Rp 900.000,-</td>
        </tr>
        <tr>
            <td>M 12</td>
            <td>lembar</td>
            <td>Rp 1.285.000,-</td>
        </tr>
    </tbody>
</table>