Tabel Berat dan Ukuran Pipa Hitam / Galvanis Medium

<table>
    <thead>
        <tr>
            <th>Ukuran (inch)</th>
            <th>OD (mm)</th>
            <th>Tebal (mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>            
            <td>21,4</td>
            <td>2,6</td>
        </tr>
        <tr>
            <td>3/4"</td>            
            <td>26,9</td>
            <td>2,6</td>
        </tr>
        <tr>
            <td>1"</td>            
            <td>33,8</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>1-1/4"</td>            
            <td>42,4</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>1-1/2"</td>            
            <td>48,3</td>
            <td>3,2</td>
        </tr>
        <tr>
            <td>2"</td>            
            <td>60,3</td>
            <td>3,6</td>
        </tr>
        <tr>
            <td>2-1/2</td>            
            <td>76,0</td>
            <td>3,6</td>
        </tr>
        <tr>
            <td>3"</td>            
            <td>88,8</td>
            <td>4,0</td>
        </tr>
        <tr>
            <td>4"</td>            
            <td>114,1</td>
            <td>4,5</td>
        </tr>
        <tr>
            <td>5"</td>            
            <td>139,7</td>
            <td>4,8</td>
        </tr>
        <tr>
            <td>6"</td>            
            <td>165,1</td>
            <td>4,8</td>
        </tr>
    </tbody>
</table>