<table class="table is-bordered">
    <tbody>
        <tr>
            <td>
                <p><strong>No</strong></p>

            </td>
            <td><strong>Nama</strong></td>
            <td><strong>Merek</strong></td>
            <td><strong>Deskripsi</strong></td>
            <td>
                <p><strong>Harga/Batang</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1</p>
            </td>
            <td>Reng 28.45</td>
            <td>BMT</td>
            <td>Tinggi 28mm, T 0.45.P 6m</td>
            <td>Rp 28.550</td>
        </tr>
        <tr>
            <td>
                <p>2</p>
            </td>
            <td>Reng 30.40 HS*</td>
            <td>BMT</td>
            <td>Tinggi 30mm, T 0.40.P 6m</td>
            <td>Rp 30.550</td>
        </tr>
        <tr>
            <td>
                <p>3</p>
            </td>
            <td>Reng 30.45 HS*</td>
            <td>HS</td>
            <td>Tinggi 30mm, T 0.45.P 6m</td>
            <td>Rp 32.550</td>
        </tr>
        <tr>
            <td>
                <p>4</p>
            </td>
            <td>Reng 31.45 Alfa</td>
            <td>Alfa Prima</td>
            <td>Tinggi 31mm, T 0.45.P 6m</td>
            <td>Rp 33.550</td>
        </tr>
        <tr>
            <td>
                <p>5</p>
            </td>
            <td>Reng 32.45 TASO</td>
            <td>TASO</td>
            <td>Tinggi 32mm, T 0.45.P 6m</td>
            <td>Rp 45.550</td>
        </tr>
        <tr>
            <td>
                <p>6</p>
            </td>
            <td>Reng 40.45 TASO</td>
            <td>TASO</td>
            <td>Tinggi 40mm, T 0.45.P 6m</td>
            <td>Rp 58.550</td>
        </tr>
        <tr>
            <td>
                <p>7</p>
            </td>
            <td>Reng 30.45 Kecana</td>
            <td>Kepuh</td>
            <td>Reng 0.45</td>
            <td>Rp 30.550</td>
        </tr>
    </tbody>
</table>