<table class="table">
    <tbody>
        <tr>
            <td><strong>No</strong></td>
            <td><strong>Ukuran (mm)</strong></td>
            <td><strong>Weight (Kg)</strong></td>
            <td><strong>Berat/meter (Kg)</strong></td>
        </tr>
        <tr>
            <td>1</td>
            <td>L100x100x6x8</td>
            <td>206</td>
            <td>17.167</td>
        </tr>
        <tr>
            <td>2</td>
            <td>L125x125x5x7</td>
            <td>222</td>
            <td>18.500</td>
        </tr>
        <tr>
            <td>3</td>
            <td>L125x125x6.5×9</td>
            <td>286</td>
            <td>23.833</td>
        </tr>
        <tr>
            <td>4</td>
            <td>L150x150x7x10</td>
            <td>378</td>
            <td>31.500</td>
        </tr>
        <tr>
            <td>5</td>
            <td>L175x175x7x11</td>
            <td>482</td>
            <td>40.167</td>
        </tr>
        <tr>
            <td>6</td>
            <td>L200x200x8x12</td>
            <td>599</td>
            <td>49.917</td>
        </tr>
        <tr>
            <td>7</td>
            <td>L250x250x9x14</td>
            <td>869</td>
            <td>72.417</td>
        </tr>
        <tr>
            <td>8</td>
            <td>L300x300x10x15</td>
            <td>1128</td>
            <td>94.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>L250x350x12x19</td>
            <td>1644</td>
            <td>137.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>L400x400x13x21</td>
            <td>2064</td>
            <td>172.000</td>
        </tr>
    </tbody>
</table>